.button.toolbar-button {
    -fx-padding: 3;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.button.toolbar-button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}