.added-agent * { -fx-stroke: green; }
.added-agent .text { -fx-stroke: none; -fx-fill: green; }
.removed-agent * { -fx-stroke: darkred; }
.removed-agent .text { -fx-stroke: none; -fx-fill: darkred; }

.bond-link {
    -fx-fill: null;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.bond-link.highlight, .highlight .circle {
    -fx-stroke: darkviolet;
}

.highlight .text {
    -fx-fill: darkviolet;
}

.any-bond-link, .any-bond-circle {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
