.error { -fx-fill: red; -fx-font-weight: bold; -fx-underline: true; }
.comment { -fx-fill: lightsteelblue; }
.instruction { -fx-fill: royalblue; }
.agent { -fx-fill: indigo; -fx-font-weight: bold; }
.token { -fx-fill: mediumblue; -fx-font-weight: bold; }
.site { -fx-fill: maroon; }
.keyword { -fx-fill: teal; -fx-font-weight: bold; }
.pert-cmd { -fx-fill: mediumorchid; }